<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>



<body>
    <!-- 헤더 -->
    <header>
        <!-- 로고를 담는 컨테이너 -->
        <div class="logo-container">
            <!-- 로고 이미지 -->
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Dandaegi Logo" class="logo">
            <!-- Flask의 `url_for`를 사용해 static 디렉터리에서 로고 이미지 파일을 가져옵니다 -->
        </div>
        
        <!-- 내비게이션 바 -->
        <nav>
            <!-- 내비게이션 메뉴 항목 리스트 -->
            <ul>
                <!-- 각 항목은 리스트 아이템으로 정의 -->
                <li><a href="/">홈</a></li>
                <!-- '/'는 메인 페이지를 가리킴 -->
                <li><a href="/champions">챔피언 분석</a></li>
                <!-- '/champions'는 챔피언 분석 페이지로 이동 -->
            </ul>
        </nav>
    </header>
</body>

    

  
    <!-- 푸터 -->
    <footer>
        <p>© 2024 Data Science and Analysis Team Dandaegi</p>
    </footer>
</body>
</html>
